
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isNotBlacklisted() {
      return !('blacklisted' in getUserData()) || getUserData().blacklisted == false;
    }

    function isAdmin() {
      return isSignedIn() && 'roles' in getUserData() && getUserData().roles.hasAny(['admin', 'Администратор']);
    }

    function isVerifiedOwner(userId) {
      return isOwner(userId) && isNotBlacklisted();
    }
    
    function hasAccessToBranch(branchId) {
      return isSignedIn() && isNotBlacklisted() && (isAdmin() || branchId in getUserData().branchIds);
    }

    match /users/{userId} {
      allow get: if isVerifiedOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isOwner(userId) || isAdmin();
      allow update: if (isVerifiedOwner(userId) || isAdmin()) && resource != null;
      allow delete: if (isVerifiedOwner(userId) || isAdmin()) && resource != null;
    }

    match /users/{userId}/reportSettings/{reportSettingId} {
      allow get, list: if isVerifiedOwner(userId);
      allow create: if isVerifiedOwner(userId) && request.resource.data.userId == userId;
      allow update: if isVerifiedOwner(userId) && resource != null && request.resource.data.userId == resource.data.userId;
      allow delete: if isVerifiedOwner(userId) && resource != null;
    }

    match /branches/{branchId} {
      allow get: if hasAccessToBranch(branchId);
      allow list: if isAdmin();
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && resource != null;
    }

    match /lots/{lotId} {
      allow read: if isSignedIn() && isNotBlacklisted();
      allow write: if isAdmin(); // Only admins can write directly to the root lots collection
    }

    match /applications/{applicationId} {
      allow read: if isSignedIn() && isNotBlacklisted() && (hasAccessToBranch(resource.data.branchId) || isOwner(resource.data.userId));
      allow list: if isSignedIn() && isNotBlacklisted(); // Query will be filtered on client
      allow create: if isVerifiedOwner(request.resource.data.userId);
      allow update: if isSignedIn() && isNotBlacklisted() && hasAccessToBranch(resource.data.branchId);
      allow delete: if isAdmin();
    }

    match /receipts/{receiptId} {
      allow read, list: if isSignedIn() && isNotBlacklisted() && hasAccessToBranch(resource.data.branchId);
      allow create, update: if isSignedIn() && isNotBlacklisted() && hasAccessToBranch(request.resource.data.branchId);
      allow delete: if isAdmin();
    }
    
    match /allocations/{allocationId} {
      allow read, list: if isSignedIn() && isNotBlacklisted() && hasAccessToBranch(resource.data.branchId);
      allow create, update: if isSignedIn() && isNotBlacklisted() && hasAccessToBranch(request.resource.data.branchId);
      allow delete: if isAdmin();
    }

    match /branches/{branchId}/procurementProcesses/{procurementProcessId} {
      allow get, list: if hasAccessToBranch(branchId);
      allow create: if hasAccessToBranch(branchId);
      allow update, delete: if hasAccessToBranch(branchId) && resource != null;
    }
  }
}
